<div class="divisao">    
    <h2>Two way data binding!</h2>
    <form>
        <input type="text" name="name" [(ngModel)]="data.name" placeholder="Digite seu nome">
        <input type="text" name="age" [(ngModel)]="data.age" placeholder="Digite sua idade">
        <input type="text" name="sex" [(ngModel)]="data.sex" placeholder="Sexo">
        <input type="submit" value="Enviar">
    </form>
    <p>{{showDetails()}}</p>
    <p>O nome é: {{data.name}}</p>
    <p>Idade: {{data.age}} anos</p>
    <p>Sexo: {{data.sex}}</p>
</div>